.oddRow {
		background-color: gray;
	}

.evenRow {
	background-color: white;
}

#containerDiv {
	width:1100px;
	margin-left: 150px;
	padding-top: 20px;
	background-color:#A5D6A7;
	align:center;
	border: 1px solid black;
}

#suggestionDiv table, #suggestionDiv th, #suggestionDiv td {
   border: 1px solid black;
   border-collapse: collapse;
}

#configDiv {
	width:600px;
	margin-left: 50px;
}

#profileDiv, #compTitleDiv {
	width:400px;
	margin-left: 50px;
}

#issueTable {
	width:600px;
	margin-left: 150px;
}

#issueTable, #issueTable th, #issueTable td {
   border: 1px solid black;
   border-collapse: collapse;
}

td {
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}